@model IEnumerable<BlogicRM_.Models.Client>

@{
    ViewData["Title"] = "Seznam klientů";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create">Vytvořit klienta</a>
</p>

<div class="my-3">
    <form asp-for="Index" class="row g-2 mb-1">
        <div class="col-auto">
            <label for="search" class="form-label">Filtrovat poradce podle jména nebo příjmení</label>
        </div>
        <div class="col-auto">
            <input type="search" id="search" name="Filter" class="form-control">
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-3">Hledat</button>
        </div>
    </form>
    @if (ViewBag.Filter != null)
    {
        <p>Filtruji poradce odpovídající filtru <i>@ViewBag.Filter</i></p>
        <a asp-action="Index">Zobrazit úplný seznam</a>
    }
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Surname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BirthNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ClientID">Upravit</a> |
                <a asp-action="Details" asp-route-id="@item.ClientID">Podrobnosti</a> |
                <a asp-action="Delete" asp-route-id="@item.ClientID">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
