@model BlogicRM_.Models.Contract

@{
    ViewData["Title"] = "Podrobnosti";
}

<h1>@ViewBag.Title</h1>

<div>
    <h4>Smlouva</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EvidenceNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EvidenceNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ConclusionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ConclusionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ValidityDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ValidityDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Institution)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Institutions" asp-action="Details" asp-route-id="@Model.InstitutionID">@Html.DisplayFor(model => model.Institution.Name)</a>
</dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Clients" asp-action="Details" asp-route-id="@Model.ClientID">@Html.DisplayFor(model => model.Client.FullName)</a>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Administrator)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Advisors" asp-action="Details" asp-route-id="@Model.AdministratorID">@Html.DisplayFor(model => model.Administrator.FullName)</a>
</dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Advisors)
        </dt>
        <dd class="col-sm-10">
            @foreach (KeyValuePair<int, string> advisor in ViewBag.Advisors)
            {
                <a asp-controller="Advisors" asp-action="Details" asp-route-id="@advisor.Key">@advisor.Value</a><br />
            }
        </dd>
        </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ContractID">Upravit</a> |
    <a asp-action="Advisors" asp-route-id="@Model.ContractID">Spravovat poradce</a> |
    <a asp-action="Index">Zpět na seznam smluv</a>
</div>
