@model IEnumerable<BlogicRM_.Models.Contract>

@{
    ViewData["Title"] = "Seznam smluv";
}

<h1>@ViewBag.Title</h1>

<p>
    <a asp-action="Create">Založit smlouvu</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EvidenceNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ConclusionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ValidityDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Institution)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Administrator)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EvidenceNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ConclusionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidityDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Institution.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Administrator.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ContractID">Upravit</a> |
                <a asp-action="Details" asp-route-id="@item.ContractID">Detail</a> |
                <a asp-action="Delete" asp-route-id="@item.ContractID">Smazat</a>
            </td>
        </tr>
}
    </tbody>
</table>
