@model BlogicRM_.Models.Advisor

@{
    ViewData["Title"] = "Podrobnosti";
}

<h1>@ViewBag.Title</h1>

<div>
    <h4>Poradce</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Surname)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Surname)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Age)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
    </dl>
    @if (ViewBag.Contracts.Count != 0)
    {
        <h6 class="font-weight-bold">Poradce má přiřazeny následující smlouvy</h6>
        <hr />
        <ul class="list-group list-group">
            @foreach (KeyValuePair<int, string> contract in ViewBag.Contracts)
            {
                <li class="list-group-item list-group-item-action"><a asp-controller="Contracts" asp-action="Details" asp-route-id="@contract.Key">Evidenční číslo: @contract.Value</a></li>
            }
        </ul>
    }
</div>


<div>
    <a asp-action="Edit" asp-route-id="@Model.AdvisorID">Upravit</a> |
    <a asp-action="Index">Zpět na seznam poradců</a>
</div>
